[Oo]bj
[Bb]in
lib
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
*.*~
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
lib/*
*.pidb
*.usertasks
*.userprefs
Web.Release.config
Web.am2gest.config
AM2.Gestion.WebTest/test-results/*
AM2.Gestion.SrvTest/test-results/*
AM2.GestionAM2.DomainTest/test-results/*
AM2.GestionAM2.SrvTests/test-results/*
test-results
packages/*
!packages/repositories.config
.vs
*.lock.json